<div class="container">
  <div class="row main-row">
    <div class="col-2 mx-auto">
      <%= render 'layouts/category', categories: @categories, skin_concerns: @skin_concerns %>
    </div>
    <div class="col-10">
      <h1 class="mt-4"><strong>商品レビュー 一覧ページ</strong></h1>
      <p>
      <%= link_to '新しい順', posts_path(latest: "true"), style: "text-decoration: none;" %>｜
      <%= link_to '古い順', posts_path(old: "true"), style: "text-decoration: none;" %>｜
      <%= link_to '評価の高い順', posts_path(star_count: "true"), style: "text-decoration: none;" %>
      </p>
      <div class="base-container mw-xl">
        <div class="text-wrapper">
          <div class="contents-title text-center">
            <div class="justify-content-center">
              <div class="card-deck">
                <% @posts.each do |post| %>
                  <div class="text-card-container">
                    <div class="card content-card border-dark">
                      <div class="card-header p-0">
                        <%= link_to post_path(post) do %>
                        <%= image_tag post.get_image(200,200), style: "height:150px; width:200px;" %>
                        <% end %>
                      </div>
                      <div class="card-body d-flex align-items-center">
                        <div>
                          <p class="card-title text-left" style="font-weight: bold; font-size: 1.2em;">
                            <%= link_to post.user.name, user_path(post.user) %>
                          </p>
                           <p class="card-title text-left">
                             <%= truncate(post.productname,length: 10, omission: '...') %>
                          </p>
                          <p class="card-title text-left" style="font-weight: bold; font-size: 1.2em;">
                            <%= link_to "詳細を見る", post_path(post) %>
                          </p>

                          <div id="star_<%= post.id %>" style="">
                            <script>
                              $(document).on('turbolinks:load', function() {
                                let elem = document.querySelector('#star_<%= post.id %>');
                                if (elem == null) return;

                                elem.innerHTML = "";
                                let opt = {
                                  starOn: "<%= asset_path('star-on.png') %>",
                                  starOff: "<%= asset_path('star-off.png') %>",
                                  starHalf: "<%= asset_path('star-half.png') %>",
                                  score: "<%= post.star %>",
                                  readOnly: true,
                                };
                                raty(elem, opt);
                              });
                            </script>
                          </div>

                          <div class="d-flex justify-content-between">
                            <p class="text-center" style="font-weight: bold;">
                            <i class="fa-solid fa-comment"></i><%= post.comments.count %>
                            </p>
                            <div id="favorite_btn_<%= post.id %>" style="" >
                              <%= render 'public/favorites/btn', post: post %>
                            </div>
                          </div>

                          <p class="card-title text-left" style="font-weight: bold; font-size: 1.2em;">
                            <%= post.created_at.in_time_zone("Tokyo").strftime("%Y/%m/%d %H:%M:%S") %>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
