<section class="text-center py-5">
      <h1 class="fw-bold mb-3">Aboutページ</h1>
</section>

<section class="section2 d-flex justify-content-center">
  <%= image_tag 'innisfree1.jpg', size: '300x300', class: 'mr-5' %>
  <%= image_tag 'manyo2.jpg', size: '300x300', class: 'mr-5' %>
  <%= image_tag 'VT3.jpg', size: '300x300' %>
</section>

<div class="container py-5">
        <h2 class="d-flex justify-content-center font-weight-bold mb-4">
            メンズスキンケアレビューサイトで<br>
            　　　美容を学び、共有し合いましょう！
        </h2>
        <p class="text fs-5">
        </p>
      </div>

<section class="bg-light">
  <div class="container py-4">
    <div class="row">
      <div class="col-md-6">
        <%= image_tag 'innisfree1.jpg', size: '300x300' %>
      </div>
      <div class="col-md-6">
        <h2 class="font-weight-bold mb-3">管理者がオススメするブランド3選</h2>
        <p class="text">
        <strong>肌悩みに困った時は一旦使いたい韓国コスメは</strong><h3>innisfree（イニスフリー）</h3>
        自然豊かなチェジュ島に着目し、ナチュラルな成分をベースにスキンケアを展開する「イニスフリー」。
        これまで再生可能な素材を使ったり、森林保全活動を行い10年間で約19万本*の植樹を行ったりと、地球に配慮。
        これからも、2030年までに化石燃料から作られたプラスチックの使用量を50％削減、50万本の植樹に挑戦するなど、自然との共存を目指してモノづくりを行うブランド。
        手に取りやすい価格帯であるにもかかわらず、肌悩みにしっかりとアプローチするコスメは、韓国はじめ日本でも大人気！
        スキンケアのみならず人気のメイクアップ製品も数多く生み出している。
        </p>
      </div>
    </div>
  </div>
</section>

<section class="bg-light mt-4">
  <div class="container py-4">
    <div class="row">
      <div class="col-md-6">
        <h2 class="font-weight-bold mb-3">管理者がオススメするブランド3選</h2>
        <p class="text">
        <strong>毛穴が気になるときに使いたい韓国コスメは</strong><h3>ma-nyo(魔女工場)</h3>
        『愛の不時着』にも登場！ 大人気ブランド
        刺激を抑えて効果を引き出すことをモットーに、スキンケアアイテムを生み出すブランド。
        韓国の人気ドラマ『愛の不時着』にも登場し、ユーチューバーが紹介していたり、韓国の有名ドラッグストア「オリーブヤング」で販売していたりと見たことがある人も多いのでは？
        皮脂・水分のバランスを整えてトーンアップして引き締まった健やか肌を目指せる“ガラクナイアシン2.0エッセンス”をはじめ、
        黒ずみや角栓の原因である毛穴の汚れまで洗い落とす“ピュア クレンジング オイル”など、売れ筋アイテムが勢ぞろい。
        </p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'manyo2.jpg', size: '300x300',class: 'float-right' %>
      </div>
    </div>
  </div>
</section>

<section class="bg-light mt-4">
  <div class="container py-4">
    <div class="row">
      <div class="col-md-6">
        <%= image_tag 'VT3.jpg', size: '300x300' %>
      </div>
      <div class="col-md-6">
        <h2 class="font-weight-bold mb-3">管理者がオススメするブランド3選</h2>
        <p class="text">
        <strong>肌荒れしたときに使いたい韓国コスメは</strong><h3>VT</h3>
        シカクリームやフェイスマスクなど、肌を整えることで知られているシカを使ったスキンケアで大人気。<br><br>
        荒れがちな肌をケアしたいときや、季節の変わり目で肌のコンディションが乱れがちなときにおすすめ。<br><br>
        プチプラなのにシカ成分をたっぷり配合し、健康的な肌に導いてくれるコスパ満点のアイテムを取り揃える。
        </p>
      </div>
    </div>
  </div>
</section>

