<div class="container">
  <div class="row">
    <div class="col-6">
      <h1 class="mt-4"><strong> レビュー詳細ページ</strong></h1>
    </div>
    <div class="col-2 offset-4">
      <%= link_to '戻る', 'javascript:history.back()', class: 'btn btn-info' %>
    </div>
  </div>

  <div class="row">
    <div class="col-4 mx-auto text-center">
      <%= image_tag @post.get_image(300, 300), style: "width:300px" %>
    </div>

    <div class="col-7 offset-1 mt-4">
      <%= render partial: "layouts/post_show", locals: {post: @post} %>
      <div class="row">
        <div class="col-4">
          <p class="font-weight-bold">評価</p>
        </div>
        <div class="col-8">
          <span id="star_<%= @post.id %>">
            <script>
              $(document).on('turbolinks:load', function() {
                let elem = document.querySelector('#star_<%= @post.id %>');
                if (elem == null) return;

                elem.innerHTML = "";
                let opt = {
                  starOn: "<%= asset_path('star-on.png') %>",
                  starOff: "<%= asset_path('star-off.png') %>",
                  starHalf: "<%= asset_path('star-half.png') %>",
                  score: "<%= @post.star %>",
                  readOnly: true,
                };
                raty(elem, opt);
              });
            </script>
          </span>
          <div class="d-flex justify-content-center ml-5">
            <i class="fas fa-heart unlike-btn"></i>
            <%= @post.favorites.count %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
