<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h2 class="col-5 title">会員一覧</h2>
      
      <table class="table">
        <thead class="table-dark">
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <% @users.each do |user| %>
       <tr>
         <td><%= user.id %></td>
         <td>
           <%= link_to admin_user_path(user.id),class: "text-decoration-none" do %>
           <%= user.name %>
           <% end %>
         </td>
         <td><%= user.email %></td>
         <td><!--会員ステータスに応じて条件分岐-->
           <% if user.is_active == true %>
           <span style="color: #1a8066;">有効</span>
           <% else %>
           <span class="text-danger">退会</span>
           <% end %>
         </td>
       </tr>
       <% end %>
      </table>
    </div>
  </div>
</div>
<div class="row mx-auto justify-content-center">
  <%= paginate @users %>
</div>