<div class="container">
  <div class="row main-row">
    <div class="col-12">
      <h1 class="mt-4"><strong>オススメ商品 一覧ページ</strong></h1>
      <ul class="d-flex justify-content-center" style="color: black; list-style: none;">
        <li class="mr-5"><a href="#acne" style="color: black; text-decoration: none;"><strong><i class="fa-solid fa-magnifying-glass"></i> ニキビ</strong></a></li>
        <li class="mr-5"><a href="#pore" style="color: black; text-decoration: none;"><strong>毛穴</strong></a></li>
        <li><a href="#whitening" style="color: black; text-decoration: none;"><strong>美白</strong></a></li>
      </ul>

      <div id="all" class="base-container mw-xl">
        <div class="text-wrapper">
          <div class="contents-title text-center">
            <div class="justify-content-center">
              <div class="card-deck">
                <% @skinitems.each do |skinitem| %>
                  <%= render 'public/skinitems/skinitem', skinitem: skinitem, category: 'all' %>
                <% end %>
              </div>
              <div class="row mx-auto justify-content-center">
                <%= paginate @skinitems, params: { anchor: 'all' } %>
              </div>

              <section id="acne">
                <h1 class="mt-4"><strong>ニキビに良い商品</strong></h1>
                <div class="card-deck">
                  <% @acne.each do |skinitem| %>
                    <%= render 'public/skinitems/skinitem', skinitem: skinitem, category: 'acne' %>
                  <% end %>
                </div>
                <div class="row mx-auto justify-content-center">
                  <%= paginate @acne, :param_name => 'acne_page', params: { anchor: 'acne' } %>
                </div>
              </section>

              <section id="pore">
                <h1 class="mt-4"><strong>毛穴に良い商品</strong></h1>
                <div class="card-deck">
                  <% @pore.each do |skinitem| %>
                    <%= render 'public/skinitems/skinitem', skinitem: skinitem, category: 'pore' %>
                  <% end %>
                </div>
                <div class="row mx-auto justify-content-center">
                  <%= paginate @pore, :param_name => 'pore_page', params: { anchor: 'pore' } %>
                </div>
              </section>

              <section id="whitening">
                <h1 class="mt-4"><strong>美白に良い商品</strong></h1>
                <div class="card-deck">
                  <% @whitening.each do |skinitem| %>
                    <%= render 'public/skinitems/skinitem', skinitem: skinitem, category: 'whitening' %>
                  <% end %>
                </div>
                <div class="row mx-auto justify-content-center">
                  <%= paginate @whitening, :param_name => 'whitening_page', params: { anchor: 'whitening' } %>　<!--params: { anchor: '〜〜〜' }アンカーリンクを使用する事でページネーションのある場所で実行した時にその状態のままページを変える事ができる-->
                </div>
              </section>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
