<div class="container">
  <div class="row main-row">
    <div class="col-12 mx-auto">
      <h2 class="title">商品詳細ページ</h2>
      <div class="row">
        <div class="col-4">
          <%= image_tag @skinitem.get_image(300, 300), style: "width:200px" %>
        </div>
        <div class="col-7 offset-1">
          <div class="form-group row">
            <div class="col-4">
              <p class="font-weight-bold">商品名</p>
            </div>
            <div class="col-8">
              <%= @skinitem.product_name %>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-4">
              <p class="font-weight-bold">商品説明</p>
            </div>
            <div class="col-8">
              <%= @skinitem.introduction %>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-4">
              <p class="font-weight-bold">肌悩み　商品カテゴリー</p>
            </div>
            <div class="col-8">
              <%= @skinitem.skin_concern.name %> <%= @skinitem.category.name %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

