<div class="container">
  <div class="row main-row">
    <div class="col-12">
      <h2 class="mb-4 ml-4 mt-4"><strong>お気に入り商品一覧</strong></h2>
      <div class="card-deck">
        <% @favorite_posts.each do |skinitem| %>
          <div class="text-card-container mt-4">
            <div class="card content-card border-dark">
              <div class="card-header p-0">
                <%= link_to skinitem_path(skinitem) do %>
                  <%= image_tag skinitem.get_image(200, 200), style: "height:150px; width:200px;" %>
                <% end %>
              </div>
              <div class="card-body d-flex align-items-center">
                <div>
                  <p class="card-title text-left">
                    <%= truncate(skinitem.product_name, length: 10, omission: '...') %>
                  </p>
                  <p class="card-title text-left" style="font-weight: bold; font-size: 1.2em;">
                    <%= link_to "詳細を見る", skinitem_path(skinitem) %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row mx-auto justify-content-center">
  <%= paginate @favorite_posts %>
</div>