<div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="mt-4"><strong> マイページ</strong></h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="profile-wrap">
    <div class="row">
      <div class="col--md-4 text-center">
       <%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg", class: "round-img" %>
      </div>
      <div class="col-md-3 mt-4 ml-4">
        <div class="row">
          <h3><%= @user.name %></h3><!--名前-->
          <p><%= @user.profile %></p><!--プロフィールコメント-->
          <p><%= @user.skin_concerns_id %></p><!--肌悩み-->
          <p><%= @user.email  %></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
         <% if @user == current_user %>
            <%= link_to "プロフィールを編集", edit_user_path, class: "btn btn-info" %>
         <% end %>
      </div>
      <div class="col-6">
        <%= link_to "レビュー投稿する",new_post_path, class: "btn btn-success" %></h4>
      </div>
    </div>
  </div>
</div>
