<div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="mt-4"><strong> マイページ</strong></h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="profile-wrap">
    <div class="row">
      <div class="col--md-4 text-center">
       <%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg", class: "round-img" %>
      </div>
      <div class="col-md-3 mt-4 ml-4">
        <div class="row">
          <h3><%= @user.name %></h3><!--名前-->
          <p><%= @user.profile %></p><!--プロフィールコメント-->
          <p><%= @user.skin_concerns_id %></p><!--肌悩み-->
           <% if @user == current_user %>
             <div class="row">
                <%= @user.email  %>
                <%= link_to "プロフィールを編集", edit_user_path, class: "btn btn-outline-dark common-btn edit-profile-btn" %>
               </p>
             </div>
           <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
