<div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="mt-4"><strong> マイページ</strong></h1>
      </div>
    </div>
  </div>
</div>


  <div class="container">
    <div class="justify-content-center">
      <div class="row">
        <div class="col-md-4 mt-4 ml-4">
        <%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg", class: "round-img" %>
        </div>
        <div class="col-7 row d-flex justify-content-around">
            <div class="h4 mr-4">
              <strong><%= @user.name %></strong>
            </div>
              <% if @user.id == current_user.id %>
              <div class="h4 ml-4">
                <%= @user.email %>
              </div>
              <div>
              <%= link_to "プロフィールを編集", edit_user_path, class: "btn btn-info ml-4" %>
              </div>
              <% end %>
        </div>
      </div>
    </div>
  </div>

<% if @user.id == current_user.id %>
<div class="row">
  <div class="col-12">
    <div class="text-center">
    <p><%= @user.profile %></p>
    <%= link_to "レビュー投稿する", new_post_path, class: "btn btn-success float-right mr-3" %>
    </div>
  </div>
</div>
<% end %>

<div class="container">
  <h2 class="mb-4 ml-4 mt-4"><strong>投稿した記事</strong></h2>
  <div class="row">
      <% @user.posts.each do |post| %>
      <div class="col-md-3">
        <div class="post-card">
          <%= link_to post_path(post) do %>
            <%= image_tag post.get_image(250,250), style: "height:250px; width:100%; object-fit: cover;" %>
          <% end %>
           <div class="post-card-content" style="background-color: #f8f9fa;">
             <p class="post-card-title"><%= truncate(post.productname,length: 10, omission: '...') %></p>
            <%= link_to "詳細を見る", post_path(post), class: "post-card-link" %>
            <div class="d-flex justify-content-between">
              <p class="text-center" style="font-weight: bold;">
              <i class="fa-solid fa-comment"></i><%= post.comments.count %>
              </p>
              <div id="favorite_btn_<%= post.id %>" style="" >
                <%= render 'public/favorites/btn', post: post %>
              </div>
            </div>
            <% if @user.id == current_user.id %>
              <%= link_to "編集", edit_post_path(post), class: "btn btn-info" %>
              <%= link_to "削除", post_path(post), method: :delete, data: { confirm: "削除しますか？" }, class: "btn btn-danger" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>