<!DOCTYPE html>
<html>
  <head>
    <title>MensGoodSkinclub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/7323675a81.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main>
    <%= render 'layouts/header' %>
    <div class="row justify-content-center mt-2">
    <%= render 'layouts/search' %>
    </div>
    <%= render 'layouts/flash' %>
    <%= yield %>
    </main>
    <footer>
      <%= render 'layouts/footer' %>
    </footer>
  </body>
  
</html>

